/* UTILITY */
  
.contain-80{
    width:80%;
    margin:auto;
    padding:20px 0;
}

.color-white{
    color:white;
}

.bg-white{
    background-color: white;
}
.h2{
    text-align: center;
    color:black;
    padding:15px;
}
.h2-blue{
    color:blue;
    text-align: center;
}

/* UTILITY */

  /* \\\\\\\\\\\\\\\\\\\\ NAV \\\\\\\\\\\\\\\\\\\  */
.nav{
    width: 80%;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
}
#logo{
    max-width: 200px;
}

.form-width, .form-btn{
    width:90%;
    height:35px;
    margin:5px 19px;
    padding:0 5px;
    border-radius: 5px;
    border:none;
    border:1px solid gray;
}
.form-btn{
    background-color: #004AFF;
    color:white;
}
.img-xs{
    max-width:200px;
    margin-top: 10px;
}

#center-menu{
    text-align:right;
    padding:25px 0;
}
#center-menu>ul{
    list-style: none;
}
ul>li{
    display: inline-block;
    padding:0 5px;
}
a{
    text-decoration: none;
    color: #253A64;
}
ul{
    display: inline-block;
}
#right-menu{
    text-align:right;
    padding:25px 0;
}

.logo-title{
    color:#2285FD;
}
.btn{
    border:1px solid #2285FD;
    padding:5px 10px;
    border-radius: 10px;
}

.btn:hover{
    background-color:darkcyan;
    color:white;
}


   /* \\\\\\\\\\\\\\\\\\\\   /NAV \\\\\\\\\\\\\\\\\\\  */

   /* \\\\\\\\\\\\\\\\\\\\\\ JUMBOTRON \\\\\\\\\\\\\\\ */
.jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    width:100%;
    height:400px;
}
.contain-80>.col-7>h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.contain-80>.col-7>.color-white{
    font-weight: 600;
}

.logo-google{
    width:30px;
}

.form-text-cen{
    text-align: center;
    padding:5px;
}

.jumbotron .contain-80 .col-5{
    padding-right: 5px;
}

.jumbotron .bg-white{
    border-radius: 5px;
}

.term-e-cond{
    text-align: center;
    padding-bottom:10px;
    font-size: 14px;
}

.term-e-cond a{
    text-decoration: underline;
}
   /* \\\\\\\\\\\\\\\\\\\\\\  /JUMBOTRON \\\\\\\\\\\\\\\ */

   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN / LOGHI \\\\\\\\\\\\\\\ */
.loghi{
    width:100%;
    background-color: #F3F5F9;
    text-align: center;
    color:gray;
}

.main-logos img{
    text-align: center;
}



   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN / LOGHI \\\\\\\\\\\\\\\ */





   /* MEDIASCREEN */

@media screen and (max-width:767px){
    #center-menu{
        display: none;
    }
    #right-menu{
        display: none;
    }
    .bar-menu{
        display: inline-block;
    }
} 

@media screen and (min-width:768px) and (max-width:992px){
    #center-menu{
        display: none;
    }
    #right-menu{
        display: none;
    }
    .bar-menu{
        opacity: 1;
    }
}

@media screen and (min-width:992px){
    .bar-menu{
        opacity: 0;
        margin-top:-15px;
    }
}

