/* UTILITY */
  
.contain-80{
    max-width:80%;
    margin:auto;
    padding:20px 0;
}

.color-white{
    color:white;
}

.bg-white{
    background-color: white;
}
.h2{
    text-align: center;
    color:black;
    padding:15px;
}
.h2-blue{
    color:blue;
    text-align: center;
}

.mar-top{
    margin-top:20px;
}
.mar-bot{
    margin-bottom: 20px;
}

.fl-right{
    float:right;
}
.pos-rel{
    position:relative;
}
.height-500{
    height:500px;
}

.blue{
    color: #2285FD;
}



.padding-t-b{
    padding:20px;
}

.testo-centr{
    text-align: center;
    padding:10px auto;
}
.testo-sx{
    text-align: left;
}
.testo-dx{
    text-align: right;
}
.block{
    display: block;
}


.btn-white{
    width:20%;
    margin:auto;
    border:1px solid grey;
    color:#2285FD;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding:10px 15px;
    margin-bottom: 50px;
}
/* UTILITY */

  /* \\\\\\\\\\\\\\\\\\\\ NAV \\\\\\\\\\\\\\\\\\\  */
.nav{
    width: 80%;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
}
#logo{
    max-width: 200px;
}

.form-width, .form-btn{
    width:90%;
    height:35px;
    margin:5px 19px;
    padding:0 5px;
    border-radius: 5px;
    border:none;
    border:1px solid gray;
}
.form-btn{
    background-color: #004AFF;
    color:white;
}
.img-xs{
    max-width:200px;
    margin-top: 10px;
}

#center-menu{
    text-align:right;
    padding:25px 0;
}
#center-menu>ul{
    list-style: none;
}
ul>li{
    display: inline-block;
    padding:0 5px;
}
a{
    text-decoration: none;
    color: #253A64;
}
ul{
    display: inline-block;
}
#right-menu{
    text-align:right;
    padding:25px 0;
}

.bar-menu{
    color:#2285FD;
}

.logo-title{
    color:#2285FD;
}
.btn{
    border:1px solid #2285FD;
    padding:5px 10px;
    border-radius: 10px;
}

.btn:hover{
    background-color:darkcyan;
    color:white;
}


   /* \\\\\\\\\\\\\\\\\\\\   /NAV \\\\\\\\\\\\\\\\\\\  */

   /* \\\\\\\\\\\\\\\\\\\\\\ JUMBOTRON \\\\\\\\\\\\\\\ */
.jumbotron{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    width:100%;
    height:400px;
}
.contain-80>.col-7>h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.contain-80>.col-7>.color-white{
    font-weight: 600;
}

.logo-google{
    width:30px;
}

.form-text-cen{
    text-align: center;
    padding:5px;
}

.jumbotron .contain-80 .col-5{
    padding-right: 5px;
}

.jumbotron .bg-white{
    border-radius: 10px;
}

.term-e-cond{
    text-align: center;
    padding-bottom:10px;
    font-size: 14px;
}

.term-e-cond a{
    text-decoration: underline;
}
   /* \\\\\\\\\\\\\\\\\\\\\\  /JUMBOTRON \\\\\\\\\\\\\\\ */

   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN / LOGHI \\\\\\\\\\\\\\\ */
.loghi{
    width:100%;
    background-color: #F3F5F9;
    text-align: center;
    color:gray;
    align-items: center;
}
.main-logos .flex-item{
    width:calc(100% / 6);
}

.main-logos img{
    width:100%;
}

main .loghi .main-logos{
    flex-wrap: wrap;
}


   /* \\\\\\\\\\\\\\\\\\\\\\  \ MAIN / LOGHI \\\\\\\\\\\\\\\ */

   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN 1 SECTION \\\\\\\\\\\\\\\ */
.titolo{
    width:80%;
    text-align: center;
    padding-top:50px;
}
.titolo h3, span{
    margin-bottom: 10px;
}

.border-left{
    border-left:1px solid grey;
    display: flex;
    flex-direction: column;
}

.border-left li{
    padding-bottom: 10px;
    text-align: left;
    font-weight: 500;
    color:gray;
}
#servizi{
    text-align: left;
    margin:5px 20px 10px 0;
    display: flex;
    flex-direction: column;
}
#servizi .col-3{
    width:50%;
}

   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN 1 SECTION \\\\\\\\\\\\\\\ */

 
   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN 2 SECTION \\\\\\\\\\\\\\\ */

.azzurro-100{
    width:100%;
    background-color: #F3F5F9;
}
.azzurro-100 h2{
    padding:10px 0 20px 0;
}
.azzurro-100 span{
    padding-bottom: 20px;
}
.azzurro-100 img{
    margin-top: 20px;
}

.chevron{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 55px;
}
.flex > .chevron:first-child{
    color: gray;
}

   /* \\\\\\\\\\\\\\\\\\\\\\  /MAIN 2 SECTION \\\\\\\\\\\\\\\ */

   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN 3 SECTION \\\\\\\\\\\\\\\ */

.blu-gr{
    background: linear-gradient(180deg, #0048C5 0%, #001F9A 100%);
}

.blu-gr h2{
    color:white;
    padding:30px;
    font-size: 35px;
}

.blu-gr span{
    color:white;
    padding-left:10px;
    padding-bottom:20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.blu-gr span a{
    color:#00AFCB;
}
   /* \\\\\\\\\\\\\\\\\\\\\\  / MAIN 3 SECTION \\\\\\\\\\\\\\\ */

   /* \\\\\\\\\\\\\\\\\\\\\\  MAIN 4 SECTION \\\\\\\\\\\\\\\ */
.azzurrina{
    background-color: #F3F5F9;;
}

.azzurrina i{
    padding-top: 20px;
}
.azzurrina .chevron{
    padding-top: 120px;
}

.rockerbox{
    align-items: center;
    width:50%;
    margin:auto;
    padding: 50px 0 20px 0;
}
.rocker-contain{
    display: flex;
    width:60%;
    margin:auto;
    background-color: white;
    flex-direction: column; 
}
.in-bl{
    display: inline-block;
}

   /* \\\\\\\\\\\\\\\\\\\\\\  /MAIN 4 SECTION \\\\\\\\\\\\\\\ */

   /* \\\\\\\\\\\\\\\\\\\\\\  FOOTER \\\\\\\\\\\\\\\\\ */

#blu-footer{
    background-color: #031C4E;
    height:300px;
}
#blu-footer .social-logos>a{
    padding-right: 10px;
    font-size: 25px;
}



     /* \\\\\\\\\\\\\\\\\\\\\\  /FOOTER \\\\\\\\\\\\\\\\\ */



   
   /* MEDIASCREEN */

@media screen and (max-width:767px){
    #center-menu{
        display: none;
    }
    #right-menu{
        display: none;
    }

    .jumbotron {
        height: 515px;
    }

    .jumbotron p{
        padding: 20px 0 20px 0;
    }

    .bar-menu{
        display:block;
        color:#2285FD;
        font-size: 30px;
        margin:10px 15px 0 0;
    }

    .main-logos .flex-item{
        width:calc(100% / 2);
        
    }
    .main-logos .flex-item img{
       align-items: center;
        
    }
    .main-logos img{
        width:50%;
        align-items: center;
    }
    .loghi h5{
        padding-top: 15px;
        
    }
} 

@media screen and (min-width:768px) and (max-width:992px){
    #center-menu{
        display: none;
    }
    #right-menu{
        display: none;
    }
    .bar-menu{
        display: block;
        color:#2285FD;
        font-size: 30px;
        margin-top: 10px;
        margin-right: 15px;
    }
}

@media screen and (min-width:992px){
    .bar-menu{
        display: none;
        /* margin-top:-15px; */
    }
}

